body {
  font-family: 'Proxima Nova', sans-serif;
  color: #7c7c80;
  font-size: 12px;
}
.date{
  font-size: 11px;
  color: #c2bfbf;
}

.searchIcon {
  height: 30px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
  margin-left: -51px;
  margin-top: 20px;
}
.searchIcon svg {
  width: 16px;
height: 16px;
top: 3.5px;
left:3.5px;
}
.colour1{
  background-color: #F9FAFB;
  
}
.colour2{
  background-color: none;
  
}
